---
---
@import "minima";

.profile_picture {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    filter: sepia(0.2);
}
  
.custom_footer {
  color: grey;
  font-size: 80%;
  text-align: right;

}

.bgimage {
  background-image: url("/assets/images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
