---
layout: default
---

<div class="home">

  <img class="profile_picture" src="/assets/images/profile_picture.jpg">

  {{ content }}

  <div class="social-icon-list">
   <a href="mailto:mail@nunopires.net"><img src="/assets/images/envelope-solid.svg" class="social-icon"></a>
   <a href="https://www.linkedin.com/in/nunodpires"><img src="/assets/images/linkedin-brands.svg" class="social-icon"></a>
   <a href="https://www.github.com/piresn"><img src="/assets/images/github-brands.svg" class="social-icon"></a>


  </div>

</div>
